*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 213, 213);
}

.accordion-head{
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 1vh auto;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
}
.accordion-head:hover{
    color: tomato;
}
img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    margin: 5px;
    border-radius: 4px;
}
img:hover{
    transform: rotate(180deg);
}


.my-content{
    width: 70%;
    margin: 2vh auto;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-family: sans-serif;
    /* background-color: grey; */
    cursor: pointer;
    word-spacing: 4px;
}
.my-title{
    text-align: center;
    font-weight: bold;
    /* padding-top: .9rem; */
    font-size: 1.75rem;
    padding-top: .2rem;
    letter-spacing: 2px;
}